<h1>Bookmarks</h1>
<p>Bookmarker is a simple little bookmarking app. You can find it on GitHub here: <a href="https://github.com/arapehl/bookmarker">https://github.com/arapehl/bookmarker</a>.</p>
<h2>Add a bookmark</h2>
<%= form_tag('/bookmarks') do %>
  <%= url_field('bookmark', 'uri') %>
  <%= submit_tag 'Save' %>
<% end %>

<h2>Bookmarks</h2>
<ul>
<% @bookmarks.each do |bookmark| %>
  <li>
    <%= form_tag("/bookmarks/#{bookmark.id}", method: :delete) do %>
      <h3>
        <a href="<%= bookmark.uri %>"><%= bookmark.title %></a>
      </h3>
      <p>
        <%= bookmark.excerpt %><br>
      </p>
      <p>
        <%= bookmark.created_at %>
        <%= submit_tag 'Delete' %>
      </p>
    <% end %>
  </li>
<% end %>
</ul>
