<h1>Bookmarks</h1>
<p>Bookmarker is a simple little bookmarking app. You can find it on GitHub here: <a href="https://github.com/arapehl/bookmarker">https://github.com/arapehl/bookmarker</a>.</p>
<h2>Add a bookmark</h2>
<%= form_tag('/bookmarks') do %>
  <%= url_field('bookmark', 'uri') %>
  <%= submit_tag 'Save' %>
<% end %>

<h2>Bookmarks</h2>
<% @bookmarks.each do |bookmark| %>
<%= form_tag("/bookmarks/#{bookmark.id}", method: :delete) do %>
  <h3>
    <a href="<%= bookmark.uri %>"><%= bookmark.title %></a>
  </h3>
  <p>
    <small>Created: <%= bookmark.created_at.strftime('%b %-d, %Y, %l:%-M') %></small>
    <%= submit_tag 'Delete' %>
  </p>
  <p>
    <%= bookmark.excerpt %><br>
  </p>
<% end %>
<% end %>
